body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 60%;
    color: #fff;
    background-color: #000000;
  }

  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 20px;
  }
  
  #weight-guide {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 30px 20px;
  }
  
  #results, #result-label {
    font-size: 20px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    background-color: #fff;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-size: 20px;
    margin: 10px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
  }
  